@import 'styles/select-box.scss';

.App {
  padding: 10px;
}

.container {
  width:100%;
}

.box {
  width:200px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
